/* Colors */
body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(218, 218, 218, 0.92)), to(rgba(218, 218, 218, 0.92))), url('../img/canvas_bright_web.jpg');
  background: -webkit-linear-gradient(top, rgba(218, 218, 218, 0.92), rgba(218, 218, 218, 0.92)), url('../img/canvas_bright_web.jpg');
  background: -moz-linear-gradient(top, rgba(218, 218, 218, 0.92), rgba(218, 218, 218, 0.92)), url('../img/canvas_bright_web.jpg');
  background: -o-linear-gradient(top, rgba(218, 218, 218, 0.92), rgba(218, 218, 218, 0.92)), url('../img/canvas_bright_web.jpg');
  background: linear-gradient(to bottom, rgba(218, 218, 218, 0.92), rgba(218, 218, 218, 0.92)), url('../img/canvas_bright_web.jpg');
}
.paper-background.container {
  margin-top: 20px;
  margin-bottom: 100px;
  position: relative;
  z-index: 100;
  width: 85%;
  max-width: none;
  padding: 0;
}
.paper-background.container p {
  visibility: hidden;
}
.shadow-container {
  position: absolute;
  top: 0px;
  z-index: 0;
  width: 85%;
  padding: 0;
  margin: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
}
.shadow-container .round-shadow {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 0px 15px 2px rgba(0, 0, 0, 0.3);
  border-radius: 45%;
}
